@use "../base/variables" as variables;
@use "sass:color";

body {
  .header {
    max-width: 100%;
    min-height: 20vh;
    font-size: variables.$font-size-3xl;
    font-weight: 600;
    padding: variables.$spacing-lg;

    &__description {
      text-align: center;

      > * {
        margin-bottom: 1em;

        a {
          text-decoration: none;
          color: variables.$color-anchors-whitesmoke;
        }

        a:hover {
          color: color.adjust(
            variables.$color-anchors-whitesmoke,
            $lightness: -40%
          );
        }
      }
    }

    &__logo {
      font-size: variables.$font-size-2xl;
      font-weight: 500;
      color: variables.$color-text-light-2;
    }

    &__para {
      font-size: variables.$font-size-sm;
      padding: 0 variables.$spacing-sm;
    }
  }
}
