@use "../base/variables" as variables;

body {
  .modal {
    width: 50%;
    min-height: 20%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: variables.$color-text-light-2;
    padding: 4em;
    box-shadow: 0 4rem 6rem rgb(0 0 0 / 30%);
    z-index: 1000;
    transition: all 0.5s;

    /* Close btn */

    .btn-close-modal {
      position: absolute;
      top: -0.5rem;
      right: 0.5rem;
      font-family: inherit;
      font-size: variables.$font-size-3xl;
      cursor: pointer;
      border: none;
      background: none;
    }

    h3 {
      font-size: variables.$font-size-sm;
      text-align: center;
      background-color: variables.$color-text-li-active;
      color: variables.$color-anchors-whitesmoke;
    }

    .modal__description {
      width: 100%;
      height: 100%;
      font-size: variables.$font-size-xl;
      color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
